$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;
$background_color: #F6F6F6;
$background_color_2:#EAEAEA;

@mixin favori($background-color: $white){
    background-color: $background-color;
    border: none;
    font-size: large;
    #checked{
        background: linear-gradient(to bottom, $primary-color 0%, $secondary-color 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: none;
    }
    &:hover{
        #unchecked{
            display: none;
        }
        #checked{
            display: inline-block;
            animation: heartbtn 300ms;
        }     
    }
}

/*@keyframes loading { 
    0% {
        width: 0;
    }
    50% {
        width: 200px;
        height: 200px;
    }
    100% {
        width: 0;
    }
}*/

@keyframes load {
    0%{
        width: 0px;
        height: 0px;
      }
    1%{
        width: 5px;
        height: 5px;
    }
      100%{
        width: 15px;
        height: 15px;
        background-color: $secondary_color;
      }
}

@keyframes heartbtn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide {
    0%{
        width: 0;
    }
    100%{
        width: 60px;
    }
}


